files:
  /usr/bin/php-staging:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run -i -v /var/app/staging/php-app:/var/www/html php:fpm php $@
  /usr/bin/php:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash

      docker run -i -v /var/app/current/php-app:/var/www/html php:fpm php $@